# Data and weights
data/
data.zip
checkpoints/
*.pth
*.pcd
*.npy
*.png
*.pt
*.ply
*.jpg
verify_frames/
problem_example/
visualizations/
temp/

# Python/OS
__pycache__/
.DS_Store
.venv/
.ipynb_checkpoints/

# Utonia-specific
utonia/

# Rsync-specific
.rsync-exclude

# Test and debug files
test_spconv.py
objectX_test.py
obsolete/

# Ignore the SCANnotatepp files and scripts
SCANnotatepp/

# Ignore the scannetpp tools and common code
/data_processing/scannetpp_common/
*iphone*
