torch==2.5.1
torchvision==0.20.1

numpy
scipy
opencv-python-headless
open3d

matplotlib
tqdm

segment-anything
huggingface_hub

#what about all the utonia requirements? Do we need to specify them here or are they included in the utonia package?